body{
    margin: 20px;
}
#cajaNombres{
    height: 60rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
}
#cajaNombres div{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 10px;
    margin: 20px;
}
#cajaNombres div img{
    width: 100%;
}
